.wd-course-header {
  color: red;
  font-size: 1.5em;
}

hr {
  margin: 8px;
}

.wd-course-header-breadcrumb {
  color: grey;
  display: table-cell;
  vertical-align: center;
  font-size: 1em;
  margin-inline: 8px;
}

.wd-course-header-course-nav {
  font-size: 1.5em;
}

.wd-course-header-sandwich {
  font-size: 1.5em;
  color: red;
  margin-inline: 20px;
}